absl-py==0.7.0
asn1crypto==0.24.0
astor==0.7.1
backports.weakref==1.0.post1
cachetools==3.1.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cryptography==2.1.4
editdistance==0.5.2
enum34==1.1.6
Flask==1.1.1
Flask-PyMongo==2.3.0
funcsigs==1.0.2
future==0.17.1
# futures==3.2.0
fuzzywuzzy==0.17.0
gast==0.2.2
google-api-core==1.8.0
google-auth==1.6.3
google-cloud==0.34.0
google-cloud-vision==0.36.0
googleapis-common-protos==1.5.8
grpcio==1.18.0
h5py==2.9.0
idna==2.8
ipaddress==1.0.17
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.0.1
MarkupSafe==1.1.1
mock==2.0.0
nltk==3.4.4
numpy==1.16.4
opencv-python==4.0.0.21
pbr==5.1.2
Pillow==5.4.1
praw==6.3.1
prawcore==1.0.1
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycairo==1.16.2
pycrypto==2.6.1
pygame==1.9.4
# pygobject==3.26.1
pymongo==3.8.0
pyserial==3.4
python-Levenshtein==0.12.0
pytz==2018.9
pyxdg==0.25
PyYAML==3.13
requests==2.22.0
rsa==4.0
scikit-learn==0.20.3
scipy==1.2.2
SecretStorage==2.3.1
serial==0.0.97
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
update-checker==0.16
urllib3==1.25.3
virtualenv==16.1.0
websocket-client==0.56.0
Werkzeug==0.15.5
# wxPython==3.0.2.0
wxPython-common==3.0.2.0
